html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:100%;
    width:100px;
    float:left;
    padding:5px;
}
section {
    float:left;
    padding:10px;
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

ul {
  list-style-type: none;
}

.navlist {
  display: inline-block;
  margin-left: -2em;
}

li {
  display: inline-block;
  }
