<section>
  <h1>{{ kamu.mac }}</h1>

<p>Spark chart</p>

<md-tab-group>
  <md-tab>
    <template md-tab-label>Update</template>
    <template md-tab-content>
      <h1>Update KaMU to selected version</h1>
      <p>Current software version: {{ kamu.swVersion }}</p>
      <form>
        <select (change)="setNewVersion($event.target.value)">
          <option value=""></option>
          <option *ngFor= "let version of versions">{{version.number}}</option>
        </select>
      </form>
      <p></p>
      <a md-button (click)="updateVersion()">Update</a>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Profile</template>
    <template md-tab-content>
      <h1>Select what profile(s) to use on KaMU</h1>
        <p>Current profile:</p>
         <form>
          <select>
            <option value="{{kamu.activeProfile}}">{{kamu.activeProfile}}</option>
          </select>
        </form>
      <div>
        <p>Available profiles:</p>
        <form>
          <select (change)="setNewProfile($event.target.value)">
            <option value=""></option>
            <option *ngFor= "let profile of profiles">{{profile.name}}</option>
          </select>
        </form>
      </div>
      <a md-button (click)="updateProfile()">Change profile(s)</a>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Restart</template>
    <template md-tab-content>
      <h1>Restart KaMU</h1>
      <a md-button (click)="restartKamu()">Restart</a>
    </template>
  </md-tab>
</md-tab-group>

</section>
