<section>

<p>Spark chart</p>

<md-tab-group>
  <md-tab>
    <template md-tab-label>Update</template>
    <template md-tab-content>
      <h1>Update KaMU to selected version</h1>
      <form>
        <select> <!-- How to automate fetching of version numbers (Jannes REST api)-->
         <option value="2016">2016</option>
         <option value="2015">2015</option>
         <option value="2014">2014</option>
         <option value="2013">2013</option>
        </select>
      </form>
      <p></p>
      <a md-button (click)="updateKamu()">Update</a>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Profile</template>
    <template md-tab-content>
      <h1>Select what profile(s) to use on KaMU</h1>
      <p>Current profile:</p>
      <p>Available profiles:</p>
      <a md-button (click)="profileKamu()">Change profile(s)</a>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Delete</template>
    <template md-tab-content>
      <h1>Delete KaMU</h1>
      <a md-button (click)="deleteKamu()">Delete</a>
    </template>
  </md-tab>
</md-tab-group>

</section>
