<section>
  <h1>{{ kamu.mac }}</h1>

<p>Spark chart</p>

<md-tab-group>
  <md-tab>
    <template md-tab-label>Update</template>
    <template md-tab-content>
      <h1>Update KaMU to selected version</h1>
      <form>
        <select>
          <option *ngFor= "let version of versions">{{version.number}}</option>
        </select>
      </form>
      <p></p>
      <a md-button (click)="updateKamu()">Update</a>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Profile</template>
    <template md-tab-content>
      <h1>Select what profile(s) to use on KaMU</h1>
      <p>Current profile:</p>
      <div style="width: 300px; margin-bottom: 20px;">
        <form>
          <select>
            <option *ngFor= "let profile of profiles">{{profile.name}}</option>
          </select>
        </form>
        <!--<pre>{{itemsToString(value)}}</pre>-->
        <div>



        </div>
      </div>
      <p>Available profiles:</p>
      <a md-button (click)="profileKamu()">Change profile(s)</a>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Delete</template>
    <template md-tab-content>
      <h1>Delete KaMU</h1>
      <a md-button (click)="deleteKamu()">Delete</a>
    </template>
  </md-tab>
</md-tab-group>

</section>
